/* Variables de color */
:root {
    --primary-color: #ffffff;
    --bg-dark: #181818;
    --bg-light: #f4f4f4;
    --highlight-dark: #8B0000; /* Bordó */
    --highlight-light: #003366; /* Azul marino */
    --text-dark: #E0E0E0;
    --text-light: #333333;
}

/* Modos claro y oscuro */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: background-color 0.4s ease, color 0.4s ease;
}

body[tema="dark"] {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

/* Header y menú */
.TOP {
    background-image: url('IMAGENES/TOP.jpg');
    height: 30vh;
    background-size: cover;
    background-position: center;
}

header {
    padding: 2% 5%; /* Margen en los laterales */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 90%;
    margin: auto;
    background-color: inherit;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--text-dark);
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    margin-left: 5%;
}

header ul li a {
    color: var(--text-dark);
    text-decoration: none;
    font-weight: bolder;
}

body[tema="light"] header ul li a,
body[tema="light"] header h1 {
    color: var(--text-dark);
}

/* Main y secciones */
main {
    padding: 2%;
    max-width: 80%;
    margin: auto;
    border-radius: 8px;
}

#bio h2, .discografia h3 {
    color: var(--highlight-dark);
    border-bottom: 2px solid var(--highlight-dark);
    padding-bottom: 2%;
}

body[tema="light"] #bio h2,
body[tema="light"] .discografia h3 {
    color: var(--highlight-light);
}

.album {
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}

.album img {
    width: 30%;
    height: auto;
    object-fit: cover;
    margin-right: 2%;
    border-radius: 8px;
}

.album-info h4 {
    color: var(--highlight-dark);
    margin: 0;
}

body[tema="light"] .album-info h4 {
    color: var(--highlight-light);
}

.album-info ul {
    list-style: none;
    padding: 0;
}

/* Galería de imágenes */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: left;
}

.gallery img {
    width: 10rem;  /* Width of the image */
    height: 10rem; /* Height of the image */
    border-radius: 8px;
    margin: 1.5%;
    object-fit: cover; /* This ensures the image fills the square area proportionally and is centered */
}
/*Busca letras*/
/* Sección Busca Letras */
.BusaLetras {
    margin: 2% auto; /* Margen superior e inferior con centrado */
    max-width: 500px; /* Ancho máximo de la sección */
    padding: 2%; /* Espaciado interno */
    background-color: var(--bg-light); /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo del formulario */
#letrasForm {
    display: flex;
    flex-direction: column; /* Alineación vertical */
}

/* Estilo de la etiqueta */
#letrasForm label {
    margin-bottom: 0.5em; /* Espaciado debajo de la etiqueta */
    color: var(--highlight-dark); /* Color de la etiqueta */
    font-weight: bold; /* Negrita */
}

/* Estilo del campo de entrada */
#letrasForm input[type="text"] {
    padding: 0.5em; /* Espaciado interno */
    border: 1px solid var(--highlight-dark); /* Borde color de acento */
    border-radius: 4px; /* Bordes redondeados */
    color: var(--text-dark); /* Color del texto */
    background-color: var(--bg-light); /* Fondo del input */
    transition: border-color 0.3s; /* Transición suave */
}

/* Color del placeholder */
#letrasForm input[type="text"]::placeholder {
    color: var(--text-light); /* Color del placeholder */
}

/* Efecto de foco en el campo de entrada */
#letrasForm input[type="text"]:focus {
    border-color: var(--highlight-light); /* Color del borde en foco */
    outline: none; /* Eliminar el contorno predeterminado */
}

/* Estilo del botón */
#letrasForm button {
    margin-top: 1em; /* Margen superior del botón */
    padding: 0.5em; /* Espaciado interno */
    background-color: var(--highlight-dark); /* Fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

#letrasForm button:hover {
    background-color: var(--highlight-light); /* Color de fondo al pasar el mouse */
}
.letra {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Footer */
footer {
    background-color: var(--highlight-dark);
    color: #ffffff;
    text-align: center;
    padding: 1%;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Botón de cambio de tema */
.switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Ajuste de ancho */
    height: 20px; /* Ajuste de alto */
    margin-top: 10px; /* Margen superior */
    margin-left: 10px; /* Margen a la izquierda */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px; /* Ajuste de border-radius para mantener proporción */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Ajuste de alto del círculo */
    width: 16px; /* Ajuste de ancho del círculo */
    left: 2px; /* Ajuste de posición para centrado */
    bottom: 2px; /* Ajuste de posición para centrado */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #777;
}

input:checked + .slider:before {
    transform: translateX(20px); /* Ajuste para el nuevo ancho del slider */
}


/* Media queries */
@media (max-width: 768px) {
    .album {
        flex-direction: column;
        align-items: left;
    }
    .album img {
        margin-right: 0;
        margin-bottom: 5%;
        width: 50%;
    }
    main {
        padding: 5%;
    }
}

@media (max-width: 480px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }
    header ul li {
        margin-left: 0;
    }
    main {
        padding: 5%;
    }
}

.loader {
    border: 8px solid #f3f3f3; /* Color de fondo del spinner */
    border-top: 8px solid var(--highlight-dark); /* Color del borde superior */
    border-radius: 50%; /* Hace que el loader sea un círculo */
    width: 40px; /* Ancho del loader */
    height: 40px; /* Alto del loader */
    animation: spin 1s linear infinite; /* Animación de rotación */
    margin: 20px auto; /* Centrando el loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
